
.vs/Labs_PMI/v15/.suo
*.db
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
laba2_pp/.vs/laba2_pp/v15/.suo
*.ipch
*.exe
*.ilk
*.pdb
*.sln
*.log
*.obj
*.user
*.filters
*.vcxproj
*.idb
*.tlog
informatika_laba3/.vs/informatika_laba3/v15/.suo
mp _laba4/.vs/mp _laba4/v15/.suo
